<div class="py-8">
    <h2 class="text-2xl font-bold mb-6">Local Recommendations</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="group cursor-pointer">
            <div class="rounded-2xl overflow-hidden mb-3">
                <img alt="Local Bistro"
                    class="w-full h-full object-cover group-hover:scale-105 transition-transform"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuD3oltx_8ta5vNsrqA59tw8_nAqZhHtjtuFomTT3PTiGIJ1Oles_HR7Ab1EQNiYweagg-cBSE1OJHujLuAeDnEe-7HkSbsUCwq09aHMutukH665EzLh9JSVd_uwE5stZ88GptbQiJznySz2y0VaVqLv_KY3NHpZK8YVEDOct2R0QoAXjT7Ky2CMhLMdHZOj3gjt9SkdFNV6jFS_GviBOKAYgY8O_kK4pzssZDcvJprJFipDb3_PvidG-SxjmrXBK12a0jXti7jcrRxC" />
            </div>
            <div class="flex justify-between items-start">
                <div>
                    <h4 class="font-bold">The Cliffside Bistro</h4>
                    <p class="text-slate-500 text-sm">Fine Dining • 1.2 miles away</p>
                </div>
                <span
                    class="bg-primary/10 text-primary px-2 py-1 rounded text-xs font-bold uppercase tracking-wider">Foodie
                    Spot</span>
            </div>
        </div>
        <div class="group cursor-pointer">
            <div class="rounded-2xl overflow-hidden mb-3">
                <img alt="Scenic Point"
                    class="w-full h-full object-cover group-hover:scale-105 transition-transform"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuBiKqgESEHpiDmF_Ei9Fui759Dm07PJn6csos0gHThI9mF6s1ae6N1drcLhBws0yDvLCdBUFd4CCFPjEcXsa3SAulWcWXLRuNh4DVktWZ2QSD7bQcjiA5Ilp7YWbpR0XS6af2lmr7kojF3YmypwchRHFWLwF2s4khe8BPzx4OeijS4HIRfNSTunsvxaxUIE2j456hdwzWW7HIQNtBooPDAc_U0TURqh9zh2V8cVjayz9gWnVMfHUhrh5ddFzrK3qpqHTHJ7LXliyNGX" />
            </div>
            <div class="flex justify-between items-start">
                <div>
                    <h4 class="font-bold">Point Dume Overlook</h4>
                    <p class="text-slate-500 text-sm">Nature • 2.5 miles away</p>
                </div>
                <span
                    class="bg-green-100 text-green-700 px-2 py-1 rounded text-xs font-bold uppercase tracking-wider">Scenic
                    View</span>
            </div>
        </div>
    </div>
</div>
