<header class="w-full bg-white">
    <nav>
        <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8 h-16 flex items-center justify-between">
            <div class="flex items-start gap-2">
                <h1 class="text-primary text-2xl  font-bold tracking-tight ">SmartStay</h1>
            </div>
            <div class="flex items-center gap-4">
                <!-- <button
                    class="text-sm font-medium text-slate-600 dark:text-slate-400 hover:text-primary transition-colors">Help
                    Center
                </button> -->
                <!-- <div
                    class="h-8 w-8 rounded-full bg-primary/10 border border-primary/20 flex items-center justify-center">
                    <span class="material-symbols-outlined text-primary text-xl">person</span>
                </div> -->
            </div>
        </div>
    </nav>

</header>
