<div class="py-8 border-b border-slate-200 space-y-6">
    <div class="flex gap-4">
        <span class="material-symbols-outlined text-2xl text-slate-700">workspace_premium</span>
        <div>
            <h3 class="font-bold">Julian is a Superhost</h3>
            <p class="text-slate-500 text-sm">Superhosts are experienced, highly rated hosts who are
                committed to providing great stays for guests.</p>
        </div>
    </div>
    <div class="flex gap-4">
        <span class="material-symbols-outlined text-2xl text-slate-700">location_on</span>
        <div>
            <h3 class="font-bold">Great location</h3>
            <p class="text-slate-500 text-sm">95% of recent guests gave the location a 5-star rating.</p>
        </div>
    </div>
    <div class="flex gap-4">
        <span class="material-symbols-outlined text-2xl text-slate-700">calendar_today</span>
        <div>
            <h3 class="font-bold">Free cancellation for 48 hours</h3>
            <p class="text-slate-500 text-sm">Get a full refund if you change your mind.</p>
        </div>
    </div>
</div>
