<section class="py-20 px-4">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold mb-10 text-blue-950">Popular Destinations</h2>
        <div class="flex overflow-x-auto hide-scrollbar gap-6 pb-8">
            <div class="flex-none w-72 group cursor-pointer">
                <div class="relative h-96 rounded-3xl overflow-hidden">
                    <img alt="London"
                        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuBF8_-kqGhmD1HDCCiUm27XjTtFyVsp7XDHDJpHRt4JvmiBRMJFfe1XZ1PLYy2vE7pD_Yc6NIQEiMp8QOCLlWl2Vx1ytcdqP4ezH8pXIgsyU5qOqhrtdNyqhWhQ6Osm8obHbjAMxYnmiUO76pjm69w2ZlX1TTBw0yevCDnBnNy9Qkk0vY9gZ0yyzoMJn34gSVRQljY4IKzZENuMXWJAId48I8maLuB1qdLb624EAPqfgqz7CzT7XPv_o9eEMq0ZjRxhw8S6KYG65DMa" />
                    <div class="absolute inset-0 from-black/80 via-transparent to-transparent">
                    </div>
                    <div class="absolute bottom-6 left-6 text-white">
                        <h4 class="text-2xl font-bold">London</h4>
                        <p class="text-white/80 text-sm">England</p>
                    </div>
                </div>
            </div>
            <div class="flex-none w-72 group cursor-pointer">
                <div class="relative h-96 rounded-3xl overflow-hidden">
                    <img alt="Paris"
                        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuA7kXCRtnI1VNY2UbZXWyNmTDhEd2weu0ifC8LOhnZp-TP7LiAPiNhIafLJ-tf3BE_zMlo6As764V6nGQbYtiO0oVClexgyimc7aN0XJ9VdjTQrUXObS6JSB2kIX7Sdb730f-bUGG5-ZovFaI1s1wbSVmGByZc6bK2LnaMC71RguIBCqZJw7a92ZembHVqcG5wmh4Y8VPE0bT0eLrm9Rwp7vP-rk6pWVPN3tWQrwezcbEZLxi8sslGQA28OkhcYEpKysPk2oe6j2lVB" />
                    <div class="absolute inset-0  from-black/80 via-transparent to-transparent">
                    </div>
                    <div class="absolute bottom-6 left-6 text-white">
                        <h4 class="text-2xl font-bold">Paris</h4>
                        <p class="text-white/80 text-sm">France</p>
                    </div>
                </div>
            </div>
            <div class="flex-none w-72 group cursor-pointer">
                <div class="relative h-96 rounded-3xl overflow-hidden">
                    <img alt="Tokyo"
                        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuD_6GfX_ZgbXeXzzikjir3kFSClouI77JJlkYcHIv2PFZvgD_1xD0vGoznrvK6CCZotbgf1c_hsSudwfBsJeBCQdnKLzXJPrkvBaYOJjrJWvEn9tTC39HSG5NbXTwReZPrPT4xQzm3tEW2ZJt6QQm8ZaCXfwiKxXtslPCRTCLSGujFnUh6dkp0XzI0pGrMjhQXPgDB26J5viIKeoyO8NcmZe9uss70j7PQ4jK8fOCJ3XwCPOTAK5QHqVK_-01SucgmYg6qUt5mW5UOK" />
                    <div class="absolute inset-0  from-black/80 via-transparent to-transparent">
                    </div>
                    <div class="absolute bottom-6 left-6 text-white">
                        <h4 class="text-2xl font-bold">Tokyo</h4>
                        <p class="text-white/80 text-sm">Japan</p>
                    </div>
                </div>
            </div>
            <div class="flex-none w-72 group cursor-pointer">
                <div class="relative h-96 rounded-3xl overflow-hidden">
                    <img alt="Banff"
                        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuD_20tpaHbcfLii1NgVch9saS5eniJpvkEEMtgl74nDiJ6ZSFO1nrBV9cl7ab7tjX_CAd3gpSDokbMatjoN7jpOm1GFKbKEVIKc0ccJuwvkjBjmlSFnL2IyxOhQ9t8Zk-unuNeyuFBe02yBT5OQccArFdUgKgSXRZo5QJfI3-1NLMr3uLClWPunDpf3CD0RA5xuGFOR9tfB6wE5f6TFfKVvJmXY-GqS-IjhAaadi3jyK4Ac3YIH6cRD-Hl2_oQGLZbDWokH4iqY1sm3" />
                    <div class="absolute inset-0 from-black/80 via-transparent to-transparent">
                    </div>
                    <div class="absolute bottom-6 left-6 text-white">
                        <h4 class="text-2xl font-bold">Banff</h4>
                        <p class="text-white/80 text-sm">Canada</p>
                    </div>
                </div>
            </div>
            <div class="flex-none w-72 group cursor-pointer">
                <div class="relative h-96 rounded-3xl overflow-hidden">
                    <img alt="Sydney"
                        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700"
                        src="https://lh3.googleusercontent.com/aida-public/AB6AXuAUdFjGFqNsLAPjdBI4_ameU9a9bXdQUJZVe_qYs0SAFz7yIw9t6vlw49O0J_tMpRaq_6xpmsvCzBjfMsqyf2Rd4bHtl7Y-QLN2bLfG1Zg7_uzCmzpMKvVjKdLsat4LTETn0mqYJVq2Cgi1ZEavv2UJx-z08ahIwirHI-DvjtCKT5u2bQw1ydRfMDl8WyaHQfKOwQIs8OBU3qcQOh24uHM1vRW8G8iP133XmSg_h94ZHYwZv17X4hYq6hj8pnPH61FCxAP1byp2PthU" />
                    <div class="absolute inset-0 from-black/80 via-transparent to-transparent">
                    </div>
                    <div class="absolute bottom-6 left-6 text-white">
                        <h4 class="text-2xl font-bold">Sydney</h4>
                        <p class="text-white/80 text-sm">Australia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>