<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">

  @if (globalError()) {
  <div class="p-3 text-sm text-red-500 bg-red-50 border border-red-200 rounded-md">
    {{ globalError() }}
  </div>
  }

  <div>
    <label class="block text-sm font-medium text-black mb-2" for="email">Email Address</label>
    <input formControlName="email"
      class="w-full px-4 py-3 rounded-lg border border-[#d2dde5] bg-white text-black focus:ring-2 focus:ring-primary focus:border-transparent transition-all outline-none"
      id="email" name="email" placeholder="e.g. name@example.com" type="email" />
    @if (isValidField('email')) {
    <span class="text-red-500 text-sm mt-1 block">{{ getFieldError('email') }}</span>
    }
  </div>
  <div>
    <div class="flex justify-between items-center mb-2">
      <label class="block text-sm font-medium text-black" for="password">Password</label>
      <a class="text-sm font-semibold text-primary hover:underline" href="#">Forgot password?</a>
    </div>
    <div class="relative">
      <input formControlName="password"
        class="w-full px-4 py-3 rounded-lg border border-[#d2dde5] bg-white text-black focus:ring-2 focus:ring-primary focus:border-transparent transition-all outline-none"
        id="password" name="password" placeholder="Enter your password" [type]="hidePassword() ? 'password' : 'text'" />
      <button (click)="hidePassword.set(!hidePassword())"
        class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600" type="button">
        <span class="material-symbols-outlined">
          {{ hidePassword() ? 'visibility_off' : 'visibility' }}
        </span>
      </button>
    </div>
    @if (isValidField('password')) {
    <span class="text-red-500 text-sm mt-1 block">{{ getFieldError('password') }}</span>
    }
  </div>
  <button
    class="w-full bg-blue-400 hover:bg-blue-500 text-white font-bold py-3.5 px-4 rounded-lg transition-colors focus:outline-none focus:ring-4 focus:ring-primary/20"
    type="submit">
    Log In
  </button>
</form>